<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
  <div class="mbox">
    <div class="footer-inner">
      <div class="footer-left">
        <div class="certificate">
          <img src="images/certificate.jpg" alt="certificate">
        </div>
        <div class="contacts">
          <p>ИНН: 2930316156 Юридический Адрес: г.
          <br>Киев ул. Митрополита Василия
          <br>Липковского 11 оф. 127 ФОП Чередниченко
          <br>Анатолий Николаевич
          <br>Все права защищены 2017</p>
        </div>
      </div>
      <div class="footer-right">
        <div class="title">
          <h2>КОНТАКТЫ:</h2>
        </div>
        <ul>
          <li>
            <div class="icon">
              <img src="images/tel-icon.png" alt="">
            </div>
            <a href="tel:380632399294">+380632399294</a>
          </li>
          <li>
            <div class="icon">
              <img src="images/tel-icon.png" alt="">
            </div>
            <a href="tel:380632399294">+380632399294</a>
          </li>
        </ul>
        <ul>
          <li>
            <div class="icon">
              <img src="images/email-icon.png" alt="">
            </div>
            <a href="mailto:info@1podarok.in.ua">info@1podarok.in.ua</a>
          </li>
        </ul>
        <div class="time">
          <div class="icon">
            <img src="images/clock-icon.png" alt="">
          </div>
          <p>09:00-21:00
          <br>без выходных</p>
        </div>
      </div>
    </div>
    <div class="privacy-policy">
      <a href="#">Политика конфиденциальности</a>
    </div>
  </div>
</footer>
<!-- /FOOTER -->
