<section class="video-review">
  <div class="mbox">
    <div class="title title-white">
      <h2>ВИДЕООБЗОР</h2>
    </div>
    <div class="video-inner">
      <a class="video-prev" href="#"></a>
      <div class="video-slider">
        <div class="video-item">
          <iframe class="video" width="577" height="382" src="https://www.youtube.com/embed/hKT7CwfZj1g?&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-item">
          <iframe class="video" width="577" height="382" src="https://www.youtube.com/embed/hKT7CwfZj1g?&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <a class="video-next" href="#"></a>
    </div>
    <div class="video-info-wrap">
      <div class="icon">
        <img src="images/click-icon.png" alt="">
      </div>
      <div class="video-info">
        <p>ДЛЯ УВЕЛИЧЕНИЯ, НАЖМИТЕ 2 РАЗА НА ВИДЕО</p>
      </div>
    </div>
    <div class="sub-block">
      <div class="pic">
        <img src="images/clutch-zoom.png" alt="">
      </div>
      <div class="subtitle">ПРОШИТ ПОЛНОСТЬЮ!</div>
    </div>
  </div>
</section>