<section class="social">
  <div class="mbox">
    <div class="social-inner">
      <div class="social-pic">
        <img src="images/social-photo.png" alt="">
      </div>
      <div class="social-right">
        <div class="title title-white">
          <h2>ПОНРАВИЛСЯ КЛАТЧ? РАССКАЖИТЕ О НЕМ ДРУЗЬЯМ!</h2>
        </div>
        <ul class="social-links">
          <li>
            <a href="#">
              <img src="images/vk-icon.png" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/fb-icon.png" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/ok-icon.png" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/insta-icon.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>