<div class="section-12">

    <div class="title-box">
        <h2>КАК ЗАКАЗАТЬ</h2>
    </div>

    <div class="wrapp">

        <div class="items-top-box">

            <div class="item item-1">
                <div class="img-box">
                    <img src="images/icon_1_block_12.png" alt="icon">
                </div>
                <div class="text-box">
                    <p>Вы оформляете<br>заказ на сайте</p>
                </div>
            </div>

            <div class="item item-2">
                <div class="img-box">
                    <img src="images/icon_2_block_12.png" alt="icon">
                </div>
                <div class="text-box">
                    <p>Менеджер перезванивает  Вам в кратчайший срок  и уточняет детали</p>
                </div>
            </div>

        </div>

        <div class="items-bottom-box">

            <div class="item item-3">
                <div class="img-box">
                    <img src="images/icon_3_block_12.png" alt="icon">
                </div>
                <div class="text-box">
                    <p>Оперативно отправляем Ваш  заказ Новой Почтой или  курьерской службой</p>
                </div>
            </div>

            <div class="item item-4">
                <div class="img-box">
                    <img src="images/icon_4_block_12.png" alt="icon">
                </div>
                <div class="text-box">
                    <p>Получаете клатч и  оплачиваете его </p>
                </div>
            </div>

            <div class="item item-5">
                <div class="img-box">
                    <img src="images/icon_5_block_12.png" alt="icon">
                </div>
                <div class="text-box">
                    <p>Пользуетесь клатчем  долгие годы и испытываете  только приятные эмоции</p>
                </div>
            </div>

        </div>

    </div>
</div>