<div class="section-8">

    <div class="title-box">
        <h2>ТРОЙНАЯ ГАРАНТИЯ!</h2>
    </div>

    <div class="wrapp">
        <div class="items-box">

            <div class="item item-1">
                <div class="img-box">
                    <img src="images/icon_1_block_8.png" alt="icon">
                </div>
                <div class="text-box">
                    <h3>Полное доверие к Вам:</h3>
                    <p>- Работаем без предоплаты</p>
                    <p>- Оплачиваете <span>только после осмотра товара</span></p>
                </div>
            </div>

            <div class="item item-2">
                <div class="img-box">
                    <img src="images/icon_2_block_8.png" alt="icon"> 
                </div>
                <div class="text-box">
                    <h3>14 дней с момента покупки на то,<br>чтобы поменять или вернуть товар:</h3>
                    <p>Eсли Вам по какой-то причине не<br> подошёл товар <span>поменяем или вернём<br> деньги</span> по требованию и без лишних<br> вопросов</p>
                </div>
            </div>

            <div class="item item-3">
                <div class="img-box">
                    <img src="images/icon_3_block_8.png" alt="icon">
                </div>
                <div class="text-box">
                    <h3>Самая выгодная цена на рынке:</h3>
                    <p>Найдёте дешевле - <span>вернем 120% разницы</span></p>
                </div>
            </div>

        </div>
    </div>
</div>