<section class="wrap-galery" id="galery">
	<div class="mbox">
		<div class="title">
			<h3>ГАЛЕРЕЯ</h3>
		</div>
		<div class="galery">
			<div class="galery-col">
				<div class="pic">
					<a href="images/galery-1.png" data-fancybox="galery"><img src="images/galery-1.png" alt=""></a>
				</div>
				<div class="pic">
					<a href="images/galery-2.png" data-fancybox="galery"><img src="images/galery-2.png" alt=""></a>
				</div>
			</div>
			<div class="galery-col">
				<div class="pic">
					<a href="images/galery-3.png" data-fancybox="galery"><img src="images/galery-3.png" alt=""></a>
				</div>
				<div class="pic">
					<a href="images/galery-4.png" data-fancybox="galery"><img src="images/galery-4.png" alt=""></a>
				</div>
			</div>
			<div class="galery-col">
				<div class="pic">
					<a href="images/galery-5.png" data-fancybox="galery"><img src="images/galery-5.png" alt=""></a>
				</div>
				<div class="pic">
					<a href="images/galery-6.png" data-fancybox="galery"><img src="images/galery-6.png" alt=""></a>
				</div>
			</div>
			<div class="galery-col hidden">
				<div class="pic">
					<a href="images/galery-1.png" data-fancybox="galery"><img src="images/galery-1.png" alt=""></a>
				</div>
				<div class="pic">
					<a href="images/galery-2.png" data-fancybox="galery"><img src="images/galery-2.png" alt=""></a>
				</div>
			</div>
			<div class="galery-col hidden">
				<div class="pic">
					<a href="images/galery-3.png" data-fancybox="galery"><img src="images/galery-3.png" alt=""></a>
				</div>
				<div class="pic">
					<a href="images/galery-4.png" data-fancybox="galery"><img src="images/galery-4.png" alt=""></a>
				</div>
			</div>
			<div class="galery-col hidden">
				<div class="pic">
					<a href="images/galery-5.png" data-fancybox="galery"><img src="images/galery-5.png" alt=""></a>
				</div>
				<div class="pic">
					<a href="images/galery-6.png" data-fancybox="galery"><img src="images/galery-6.png" alt=""></a>
				</div>
			</div>
			<a href="#" class="more el-button">больше фото</a>
		</div>
		<div class="order-now order-black">
			<form class="order-form" action="https://equip.1podarok.com/podyaka.php" method="post" enctype="multipart/form-data">
				<div class="form-title">
					<div class="text">
						<h3>ЗАКАЗАТЬ СЕЙЧАС</h3>
						<h4>с оплатой при получении</h4>
					</div>
					<div class="price">
						<div class="before"><s><span>1285</span>грн</s></div>
						<p>за <span><b>449</b></span> грн</p>
					</div>
				</div>
				<div class="form-row">
					<div class="form-field">
						<input type="text" class="phone el-input" name="tel" required="required" placeholder="Ваш телефон">
					</div>
					<input type="submit" class="el-button" value="заказать">
				</div>
			</form>
		</div>
	</div>
</section>