<section class="wrap-benefits">
	<div class="mbox">
		<div class="title title-white">
			<h3>ЧТО ВЫ ПОЛУЧАЕТЕ:</h3>
		</div>
		<div class="benefits">
			<div class="benefit-item">
				<div class="pic"><img src="images/car.png" alt=""></div>
				<div class="name">ДОСТАВКА</div>
				<p><a href="#">Узнать об условиях доставки</a> По Киеву - от 2-х часов <br> по Украине - 1 день</p>
			</div>
			<div class="benefit-item">
				<div class="pic"><img src="images/obmen.png" alt=""></div>
				<div class="name">ВОЗВРАТ БЕЗ ПРОБЛЕМ</div>
				<p>Если Вам не подойдёт клатч поменяем или вернём деньги по требованию и без лишних вопросов</p>
			</div>
			<div class="benefit-item">
				<div class="pic"><img src="images/predoplata.png" alt=""></div>
				<div class="name">БЕЗ ПРЕДОПЛАТЫ</div>
				<p>Оплата при получении.</p>
			</div>
			<div class="benefit-item">
				<div class="pic"><img src="images/garant.png" alt=""></div>
				<div class="name">ГАРАНТИЯ КАЧЕСТВА</div>
				<p>Сертифицированная продукция Каждый клатч проходит проверку перед отправкой.</p>
			</div>
			<div class="benefit-item">
				<div class="pic"><img src="images/best-price.png" alt=""></div>
				<div class="name">ЛУЧШАЯ ЦЕНА</div>
				<p>Гарантия лучшей цены Найдете дешевле – вернем 120% разницы</p>
			</div>
			<div class="benefit-item">
				<div class="pic"><img src="images/best-prod.png" alt=""></div>
				<div class="name">ЛУЧШИЙ ТОВАР</div>
				<p>Идеальный подарок для взрослых по оценке более 2000 покупателей.</p>
			</div>
		</div>
		<div class="order-now sec10">
			<form class="order-form" action="https://equip.1podarok.com/podyaka.php" method="post" enctype="multipart/form-data">
				<div class="form-title">
					<div class="text">
						<h3>ЗАКАЗАТЬ СЕЙЧАС</h3>
						<h4>с оплатой при получении</h4>
					</div>
					<div class="price">
						<div class="before"><s><span>1285</span>грн</s></div>
						<p>за <span><b>449</b></span> грн</p>
					</div>
				</div>
				<div class="form-row">
					<div class="form-field">
						<input type="text" class="phone el-input" name="tel" required="required" placeholder="Ваш телефон">
					</div>
					<input type="submit" class="el-button" value="заказать">
				</div>
			</form>
		</div>
	</div>
</section>