<section class="wrap-pluses" id="garant">
	<div class="mbox">
		<div class="title title-white">
			<h6>Карточки, деньги, ключи, телефон, документы, разбросаны по карманам и салону автомобиля?</h6>
			<h3>Клатч EQUIP - держите все под контролем!</h3>
		</div>
		<div class="pluses">
			<div class="plus-col">
				<figure>
					<div class="pic"><img src="images/pl1.png" alt=""></div>
					<figcaption>4 отделения для купюр</figcaption>
				</figure>
				<figure>
					<div class="pic"><img src="images/pl2.png" alt=""></div>
					<figcaption>2 отделения для монет</figcaption>
				</figure>
			</div>
			<div class="plus-col plus-center">
				<figure>
					<div class="pic"><img src="images/pl3.png" alt=""></div>
					<figcaption>12 отделений для карточек</figcaption>
				</figure>
				<figure>
					<div class="pic"><img src="images/pl4.png" alt=""></div>
					<figcaption>1 отделение прозрачное</figcaption>
				</figure>
				<div class="big-pic"><img src="images/pl-big.png" alt=""></div>
				<figure>
					<div class="pic"><img src="images/pl5.png" alt=""></div>
					<figcaption>3 отделения на молнии</figcaption>
				</figure>
				<figure>
					<div class="pic"><img src="images/pl6.png" alt=""></div>
					<figcaption>2 отделения для документов</figcaption>
				</figure>
			</div>
			<div class="plus-col">
				<figure>
					<div class="pic"><img src="images/pl7.png" alt=""></div>
					<figcaption>2 больших кармана</figcaption>
				</figure>
				<figure>
					<div class="pic"><img src="images/pl8.png" alt=""></div>
					<figcaption>сьемный ремешок для ношения</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>