<section class="advantages" id="order">
	<div class="mbox">
		<div class="advantages__content">
			<figure>
				<div class="pic"><img src="images/experiment.gif" alt=""></div>
				<figcaption>Хоть режьте - останется как новый</figcaption>
			</figure>
			<figure>
				<div class="pic"><img src="images/mega.gif" alt=""></div>
				<figcaption>поместится всё</figcaption>
			</figure>
			<figure>
				<div class="pic"><img src="images/open.gif" alt=""></div>
				<figcaption>надежная молния</figcaption>
			</figure>
		</div>
		<div class="order-now">
			<form class="order-form" action="https://equip.1podarok.com/podyaka.php" method="post" enctype="multipart/form-data">
				<div class="form-title">
					<div class="text">
						<h3>ЗАКАЗАТЬ СЕЙЧАС</h3>
						<h4>с оплатой при получении</h4>
					</div>
					<div class="price">
						<div class="before"><s><span>1285</span>грн</s></div>
						<p>за <span><b>449</b></span> грн</p>
					</div>
				</div>
				<div class="form-row">
					<div class="form-field">
						<input type="text" class="phone el-input" name="tel" required="required" placeholder="Ваш телефон">
					</div>
					<input type="submit" class="el-button" value="заказать">
				</div>
			</form>
		</div>
	</div>
</section>