<section class="wrap-reviews" id="reviews">
	<div class="mbox">
		<div class="title">
			<h2>ОТЗЫВЫ</h2>
		</div>
		<div class="wrap-slider">
			<a href="#" class="prev"></a>
			<div class="reviews-slider">
				<div class="slide">
					<div class="review-item">
						<div class="photo"><img src="images/client.png" alt=""></div>
						<div class="review-text">
							<p><span class="name"><b>Наталья Терещенко</b></span> Муж в восторге! Отличный клатч! Я первый раз заказала через интернет, та ещё по акции, думала, г... придёт, а когда получила по новой почте этот клатч - была приятно удивлена. Качество супер! Такого качества товар, редко встретишь даже у фирменных, дорогих магазинах (по крайней мере нашего города)</p>
							<a href="#">Показать перевод</a>
							<div class="date">
								<a href="#">Нравится - </a>
								<a href="#">Ответить - </a>
								<span><p>17 января в 20:42</p></span>
							</div>
						</div>
					</div>
					<div class="review-item">
						<div class="photo"><img src="images/client.png" alt=""></div>
						<div class="review-text">
							<p><span class="name"><b>Наталья Терещенко</b></span> Муж в восторге! Отличный клатч! Я первый раз заказала через интернет, та ещё по акции, думала, г... придёт, а когда получила по новой почте этот клатч - была приятно удивлена. Качество супер! Такого качества товар, редко встретишь даже у фирменных, дорогих магазинах (по крайней мере нашего города)</p>
							<a href="#">Показать перевод</a>
							<div class="date">
								<a href="#">Нравится - </a>
								<a href="#">Ответить - </a>
								<span><p>17 января в 20:42</p></span>
							</div>
						</div>
					</div>
					<div class="review-item">
						<div class="photo"><img src="images/client.png" alt=""></div>
						<div class="review-text">
							<p><span class="name"><b>Наталья Терещенко</b></span> Муж в восторге! Отличный клатч! Я первый раз заказала через интернет, та ещё по акции, думала, г... придёт, а когда получила по новой почте этот клатч - была приятно удивлена. Качество супер! Такого качества товар, редко встретишь даже у фирменных, дорогих магазинах (по крайней мере нашего города)</p>
							<a href="#">Показать перевод</a>
							<div class="date">
								<a href="#">Нравится - </a>
								<a href="#">Ответить - </a>
								<span><p>17 января в 20:42</p></span>
							</div>
						</div>
					</div>
					<div class="review-item">
						<div class="photo"><img src="images/client.png" alt=""></div>
						<div class="review-text">
							<p><span class="name"><b>Наталья Терещенко</b></span> Муж в восторге! Отличный клатч! Я первый раз заказала через интернет, та ещё по акции, думала, г... придёт, а когда получила по новой почте этот клатч - была приятно удивлена. Качество супер! Такого качества товар, редко встретишь даже у фирменных, дорогих магазинах (по крайней мере нашего города)</p>
							<a href="#">Показать перевод</a>
							<div class="date">
								<a href="#">Нравится - </a>
								<a href="#">Ответить - </a>
								<span><p>17 января в 20:42</p></span>
							</div>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="review-item">
						<div class="photo"><img src="images/client.png" alt=""></div>
						<div class="review-text">
							<p><span class="name"><b>Наталья Терещенко</b></span> Муж в восторге! Отличный клатч! Я первый раз заказала через интернет, та ещё по акции, думала, г... придёт, а когда получила по новой почте этот клатч - была приятно удивлена. Качество супер! Такого качества товар, редко встретишь даже у фирменных, дорогих магазинах (по крайней мере нашего города)</p>
							<a href="#">Показать перевод</a>
							<div class="date">
								<a href="#">Нравится - </a>
								<a href="#">Ответить - </a>
								<span><p>17 января в 20:42</p></span>
							</div>
						</div>
					</div>
					<div class="review-item">
						<div class="photo"><img src="images/client.png" alt=""></div>
						<div class="review-text">
							<p><span class="name"><b>Наталья Терещенко</b></span> Муж в восторге! Отличный клатч! Я первый раз заказала через интернет, та ещё по акции, думала, г... придёт, а когда получила по новой почте этот клатч - была приятно удивлена. Качество супер! Такого качества товар, редко встретишь даже у фирменных, дорогих магазинах (по крайней мере нашего города)</p>
							<a href="#">Показать перевод</a>
							<div class="date">
								<a href="#">Нравится - </a>
								<a href="#">Ответить - </a>
								<span><p>17 января в 20:42</p></span>
							</div>
						</div>
					</div>
					<div class="review-item">
						<div class="photo"><img src="images/client.png" alt=""></div>
						<div class="review-text">
							<p><span class="name"><b>Наталья Терещенко</b></span> Муж в восторге! Отличный клатч! Я первый раз заказала через интернет, та ещё по акции, думала, г... придёт, а когда получила по новой почте этот клатч - была приятно удивлена. Качество супер! Такого качества товар, редко встретишь даже у фирменных, дорогих магазинах (по крайней мере нашего города)</p>
							<a href="#">Показать перевод</a>
							<div class="date">
								<a href="#">Нравится - </a>
								<a href="#">Ответить - </a>
								<span><p>17 января в 20:42</p></span>
							</div>
						</div>
					</div>
					<div class="review-item">
						<div class="photo"><img src="images/client.png" alt=""></div>
						<div class="review-text">
							<p><span class="name"><b>Наталья Терещенко</b></span> Муж в восторге! Отличный клатч! Я первый раз заказала через интернет, та ещё по акции, думала, г... придёт, а когда получила по новой почте этот клатч - была приятно удивлена. Качество супер! Такого качества товар, редко встретишь даже у фирменных, дорогих магазинах (по крайней мере нашего города)</p>
							<a href="#">Показать перевод</a>
							<div class="date">
								<a href="#">Нравится - </a>
								<a href="#">Ответить - </a>
								<span><p>17 января в 20:42</p></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="next"></a>
		</div>
		<a href="#review-popup" class="el-button add-review review-popup">оставь свой отзыв о клаче</a>
	</div>
</section>