<div class="section-3">

    <div class="title-box">
        <h2>РАЗМЕР И ВЕС КЛАТЧА EQUIP:</h2>
    </div>

    <div class="items-box">

        <div class="item-left">
            <div class="item-left-box">
                <div class="text-top">
                    <p>20 см</p>
                </div>
                
                <div class="wrapp-box">

                    <div class="img-box">
                        <img src="images/exempl_block_3.png" alt="">
                    </div>
                    
                    <div class="text-right">
                        <p>10 см</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="item-right">
            <div class="text-box">
                <ul class="text-left">
                    <li>Длина изделия:</li>
                    <li>Ширина изделия:</li>
                    <li>Толщина изделия:</li>
                    <li>Вес изделия:</li>
                </ul>
                <ul class="text-right">
                    <li>20 см</li>
                    <li>10 см</li>
                    <li>3 см</li>
                    <li>0,2 кг</li>
                </ul>                
            </div>
        </div>

    </div>
</div>