<section class="select-color mbox" id="chose-color">
    <div class="title">
        <h2>ВЫБЕРИТЕ ЦВЕТ КЛАТЧА</h2>
    </div>
    <ul class="select-color-inner">
        <li>
            <figure>
                <div class="select-color-pic">
                    <div class="color-pic">
                        <img src="images/brown.png" alt="">
                    </div>
                    <div class="color-pic">
                        <img src="images/brown.png" alt="">
                    </div>
                    <div class="color-pic">
                        <img src="images/brown.png" alt="">
                    </div>
                </div>
                <figcaption>благородный коричневый</figcaption>
            </figure>
            <div class="color-content">
                <div class="subtitle">
                    <p>Заказать с оплатой при получении</p>
                </div>
                <div class="price-wrap">
                    <div class="old-price">
                        <p><span>1285</span>грн</p>
                    </div>
                    <div class="new-price">
                        <p>за <span style="color:#ffc000;font-size:44px;font-weight:700">449</span> грн</p>
                    </div>
                </div>
                <a class="el-button js-popup" href="#" data-color="благородный коричневый" data-id="form-3">заказать</a>
            </div>
        </li>
        <li>
            <figure class="cluch-black">
                <div class="select-color-pic">
                    <div class="color-pic">
                        <img src="images/black.png" alt="">
                    </div>
                    <div class="color-pic">
                        <img src="images/black.png" alt="">
                    </div>
                    <div class="color-pic">
                        <img src="images/black.png" alt="">
                    </div>
                </div>
                <figcaption>классический черный</figcaption>
            </figure>
            <div class="color-content">
                <div class="subtitle">
                    <p>Заказать с оплатой при получении</p>
                </div>
                <div class="price-wrap">
                    <div class="old-price">
                        <p><span>1285</span>грн</p>
                    </div>
                    <div class="new-price">
                        <p>за <span style="color:#ffc000;font-size:44px;font-weight:700">449</span> грн</p>
                    </div>
                </div>
                <a class="el-button js-popup" href="#" data-color="классический черный" data-id="form-4">заказать</a>
            </div>
        </li>
    </ul>
</section>
