<section class="top-banner">
	<div class="mbox">
		<div class="banner__content">
			<div class="banner__inner">
				<div class="banner__text">
					<div class="main-title"><h1>КлАТЧ EQUIP</h1></div>
					<div class="desc">Нужная вещь себе и близким со <b>скидкой 65% </b></div>
					<div class="banner-pic"><img src="images/purse.png" alt=""></div>
					<a href="#" class="el-button js-popup" data-id="form-2">заказать</a>
					<p style="text-align: right;">*Оплата только после того как подержите в руках!</p>
				</div>
			</div>
		</div>
		<a href="#" class="to-bottom"><img src="images/arr.png" alt=""></a>
	</div>
</section>